<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Dani e insoportabile</title>

</head>    

<body>
    <h1>Hello, Vue js</h1>
    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }} - {{author}} - {{age}}</p>
            
        </div>
        <button @click="toggleShowBooks()">
            <!-- Toggle this is only  -->
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>

        </button>
        
     
    </div>
    <script src="02app.js"></script>

</body>
</html>