<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Dani e insoportabile</title>
    <style>
        .box {
            padding: 10px 0;
            width: 200px;

            margin: 20px;
            display: inline-block;
        }
    </style>

</head>    

<body>
    <h1>Hello, Vue js</h1>

    <div id="app">
        <!-- Attribute binding: look fot the VAR url, not the text url -->
        <a v-bind:href="url">go to google</a>

        <div v-if="showBooks">
            <!--FOR CYCLE :bind inside for
                <p> {{ books[1].title }} - {{books[1].author}} </p>--> 
            <ul>
                <li v-for="x in books">
                    <p> {{ x.title }} - {{x.author}} </p>
                    <img class="box" :src="x.image" :alt="x.title">
                </li>
            </ul>         
        </div>

        <button @click="toggleShowBooks()">
            <!-- Toggle this is only  -->
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>

        </button>

        <br>
        <!-- mouse events -->

        <!-- 
        
         -->

    </div>
    <script src="04app.js"></script>

</body>
</html>